.read-only {
    padding-top: 13px; min-height: 33px; font-weight: normal;
}

.subtitle {
    margin: 30px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #93C54B;
}

.buttons {
    background-color: #e7e7e7;
    padding: 8px;
    margin-top: 2px;
    width: 100%;
    float: inherit;
}

.left-buttons {
    padding-left: 20px;
}

.right-buttons {
    padding-right: 20px;
}

.btn {
    text-transform: none;
}

.footer {
    padding: 20px 0 20px;
    background-color: #ebebeb;
    text-align: center;
}

#pageContent {
    min-height: 95vh;
}

.read-only {
    padding-top: 13px;
    min-height: 33px;
    font-weight: normal;
}

.table {
    font-size: 14px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 2.2;
}

label, .control-label, .help-block, .checkbox, .radio {
    font-size: 14px;
}